ul.teamspeak3 li.channel{
  list-style-image:url('icons/16x16_channel_green.png');
}
ul.teamspeak3 li.client {
  list-style-image:url('icons/16x16_player_off.png');
}
ul.teamspeak3 li.client_talking {
  list-style-image:url('icons/16x16_player_on.png');
}
